@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2fcde9;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked::after {
  position: absolute;
  top: -4px;
  left: 2px;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

input[type="checkbox"]:disabled {
  background-color: #ff0000;
  cursor: not-allowed;
  border: 1px solid #ff0000;
}