@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

#husvetbody {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2fcde9;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #ff0000;
  border: 1px solid #ff0000;
}

.circle {
  position: relative;
}

.circle::after, .circle::before {
  --angle: 0deg;
  content: '';
  position: absolute;
  height: 102%;
  width: 102%;
  background-image: conic-gradient(from var(--angle), transparent 70%, #0e4934);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 50%;
  animation: 3s spin linear infinite;
}

.circle::before {
  filter: blur(1.5rem);
  opacity: 1.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}